{% macro listing_card() %}
{% set index_path = current_path ~ "_index.md" | trim_start_matches(pat="/") %}
{% set index = get_section(path=index_path) %}
{% for page in index.pages %}
    <div class="card">
        <strong>
            <a class="stretched-link" href="{{ page.permalink }}">{{ page.title }}</a>
        </strong>
        <span class="description" style="float:right;">{{ page.description }}</span>
        <div class="description app-taxonomy">
             
          {% if page.taxonomies.status %}
              {% for state in page.taxonomies.status %}
              <span class="{{ state }} taxonomy-status" title="Project State">{{ state }}</span>
              {% endfor %}
          {% endif %}
          
          {% if page.taxonomies.packaged_in %}
	  {% set distrocount = page.taxonomies.packaged_in | length %}
	  {% if distrocount > 3 %}<details class="taxonomy-tags" title="Packaged in"><summary>available in {{ distrocount }} distros</summary>{% endif %}
              {% for distribution in page.taxonomies.packaged_in %}
              <span class="taxonomy-tag taxonomy-packaged-in packaged-in-{{ distribution }}" title="Packaged in">
			      {{ distribution|title()|replace(from="_",to=" ")|replace(from="3 ",to="3.")|replace(from="Archlinuxarm",to="Arch Linux ARM")|replace(from="Aur",to="AUR")|replace(from="4 ",to="4.") |replace(from="Postmarketos",to="postmarketOS")|replace(from="Gnuguix",to="GNU Guix")|replace(from="22 ",to="22.")|replace(from="Opensuse t",to="openSUSE T")|replace(from="Pureos",to="PureOS") }}
	      </span>
              {% endfor %}
              {% if distrocount > 3 %}</details>{% endif %}
          {% endif %} 

	  {% if page.taxonomies.services %}
              {% for service in page.taxonomies.services %}
              <span class="taxonomy-tag taxonomy-service {{ service }}" title="Service">{{ service }}</span>
              {% endfor %}
          {% endif %}
          {% for category in page.taxonomies.categories %}
              <span class="taxonomy-tag taxonomy-category {{ category }}" title="Category">{{ category }}</span>
          {% endfor %}
          {% if page.taxonomies.frameworks %}
              {% for framework in page.taxonomies.frameworks %}
              <span class="taxonomy-tag taxonomy-framework framework-{{ framework }}" title="Framework">{{ framework }}</span>
              {% endfor %}
          {% endif %}
          {% for compatibility in page.taxonomies.mobile_compatibility %}
              <span class="taxonomy-tag taxonomy-mobile-compat mobile-compat-{{ compatibility }}" title="Mobile compatibility">{{ compatibility }}</span>
          {% endfor %}
	</div>
    </div>
{% endfor %}
{% endmacro %}

