{% extends "base.html" %}

{% block seo %}
  {% set title_addition = "" %}
  {% if config.extra.title_separator %}
    {% set title_separator = " " ~ config.extra.title_separator ~ " " %}
  {% else %}
    {% set title_separator = " | " %}
  {% endif %}
{% set_global section = get_section(path="packaged-in/_index.md") %}
  {% if section.title and config.title %}
    {% set title = section.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% elif section.title  %}
    {% set title = section.title %}
  {% else %}
    {% set title = config.title %}
  {% endif %}
  
  {% if page.description %}
    {% set description = section.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
  
  {{ macros_head::seo(title=title, title_addition=title_addition, description=description) }}
{% endblock seo %}

{% block body %}
  {% if section.extra.class %}
    {% set page_class = section.extra.class %}
  {% else %}
    {% set page_class = "packaged-in list" %}
  {% endif %}
{% endblock body %}


{% block content %}
<div class="wrap container" role="document">
  <div class="content">
        <article class="taxonomies">
          <h1 class="text-center">{{ section.title }}</h1>
          <div class="text-center">{{ section.content | safe }}</div>
         <div class="card-list taxonomy-cards">
            {% for term in terms %}
                <a class="taxonomy-link text-body" href="{{ term.permalink | safe }}">{{ term.name |title()|replace(from="_",to=" ")|replace(from="3 ",to="3.")|replace(from="Archlinuxarm",to="Arch Linux ARM")|replace(from="Aur",to="AUR")|replace(from="4 ",to="4.")|replace(from="Postmarketos",to="postmarketOS")|replace(from="Gnuguix",to="GNU Guix")|replace(from="22 ",to="22.")|replace(from="Opensuse t",to="openSUSE T")|replace(from="Pureos",to="PureOS")}}  <span class="count">({{ term.pages | length }})</span></a>
            {% endfor %}
			    </div>
        </article>
  </div>
</div>{% endblock content %}


